<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js TODO App</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="app.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <h1>My TODO App</h1>
        <input v-model="todoInput" type="text" placeholder="Add a new task">
        <button v-on:click="addTodo">Add TODO</button>
        <ol>
            <li v-for="(todo, index) in todos" :key="todo.id">
                <p :style="{ textDecoration: todo.state ? 'line-through' : 'none' }">
                    {{ todo.content }}
                    <input v-on:click="changeState(index)" type="checkbox" :checked="todo.state">
                </p>
            </li> 
        </ol>
    </div>
</body>
</html>
